
.is-dead {
  background-color: red;
}

.is-lts {
  background-color: goldenrod;
}

.mat-column-cycle-cycle {
  text-align: center;
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
}

.mat-column-cycle-release-date {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-support {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-eol {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-lts {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-support {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-extended-support {
  border-right: 1px solid currentColor;
}

.mat-column-cycle-supported-java-versions {
  border-right: 1px solid currentColor;
  text-align: center;
}

.mat-mdc-table {
  align-content: center;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  vertical-align: middle;
}

.table-title {
  min-width: 939px;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
}

.data-table {
  min-width: 939px; 
  max-width: 1024px;
}