.is-past {
  background-color: rgba(123, 0, 0, 0.5);
}

.is-soon {
  background-color: rgba(123, 123, 0, 0.5);
}

.is-good {
  background-color: rgba(0, 123, 0, 0.5);
}

.is-unavailable {
  background-color: rgba(123, 123, 123, 0.5);
}

.mat-column-cycle-cycle {
  text-align: center;
  width: 32px;
  padding-right: 24px;
}

.mat-column-cycle-release-date { }
.mat-column-cycle-support { }
.mat-column-cycle-eol { }
.mat-column-cycle-lts { }
.mat-column-cycle-support { }
.mat-column-cycle-extended-support { }

.mat-column-cycle-supported-java-versions {
  text-align: center;
}

.mat-column-cycle-supported-jakarta-ee-versions {
  text-align: center;
}

.mat-column-cycle-latest {
  text-align: center;
}

.mat-column-cycle-aux-cycle {
  text-align: center;
  width: 32px;
  padding-right: 24px;
}

.mat-column-cycle-aux-angular-versions {
  text-align: center;
}

.mat-column-cycle-aux-react-versions {
  text-align: center;
}

.mat-column-cycle-aux-vue-versions {
  text-align: center;
}

.mat-mdc-table {
  max-height: 264px;
  overflow: auto;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  vertical-align: middle;
}

.table-title {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.data-table {
  max-width: 100vw;
}

tr:first-child {
  --mat-table-row-item-outline-color: currentColor;
}

td {
  border-right: 1px solid currentColor;
}

td:last-child {
  border-right: none;
}

.data-table-expansion {
  --mat-expansion-container-background-color: var(--mat-table-background-color);
}
