<div class="data-table">
  <mat-table [dataSource]="productDataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="cycle-cycle">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-cycle']?.header || 'Release' }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.cycle}}{{cycle.codename ? ' (' + cycle.codename + ')' : '' }}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-kernel-version">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-kernel-version']?.header }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.kernelVersion}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-supported-android-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-android-versions']?.header }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedAndroidVersions || cycle.androidVersion}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-supported-ios-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-ios-versions']?.header }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedIosVersions}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-supported-python-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-python-versions']?.header }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedPythonVersions}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-supported-php-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-php-versions']?.header }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedPhpVersions || cycle.supportedPHPVersions}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-release-date">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-release-date']?.header || 'Released' }}</th>
      <td mat-cell *matCellDef="let cycle">{{formatTimeAgo(cycle.releaseDate)}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-discontinued">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-discontinued']?.header || 'Discontinued' }}</th>
      <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.discontinued)">{{formatTimeAgo(cycle.discontinued, false, false, false, productMapping?.columns?.['cycle-discontinued']?.altGoodText || '', productMapping?.columns?.['cycle-discontinued']?.altBadText || '')}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-eol">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-eol']?.header || 'Security Support' }}</th>
      <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.eol)">{{formatTimeAgo(cycle.eol, true)}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-latest">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-latest']?.header || 'Latest' }}</th>
      <td mat-cell *matCellDef="let cycle">
        {{cycle.latest}}
        @if (cycle.latestReleaseDate) {
          ({{formatDateOrBoolean(cycle.latestReleaseDate)}})
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="cycle-link">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.link}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-support">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-support']?.header || 'Support' }}</th>
      <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.support, false, productMapping?.columns?.['cycle-support']?.invert || false)">{{formatTimeAgo(cycle.support, true, false, productMapping?.columns?.['cycle-support']?.invert || false)}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-lts">
      <th mat-header-cell *matHeaderCellDef>LTS</th>
      <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.lts)">{{formatTimeAgo(cycle.lts, true) || ''}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-extended-support">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-extended-support']?.header || 'Extended Support' }}</th>
      @if (productMapping) {
        <td mat-cell
            *matCellDef="let cycle"
            [class]="
          resolveDateClass(cycle.extendedSupport,
            productMapping.columns['cycle-extended-support']?.unavailable,
            productMapping.columns['cycle-extended-support']?.invert)
        "
        >
          {{formatTimeAgo(cycle.extendedSupport,
          true,
          productMapping.columns['cycle-extended-support']?.unavailable,
          productMapping.columns['cycle-extended-support']?.invert) || ''
          }}
        </td>
      } @else {
        <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.extendedSupport)">{{formatTimeAgo(cycle.extendedSupport, true)}}</td>
      }
    </ng-container>

    <ng-container matColumnDef="cycle-supported-java-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-java-versions']?.header || 'Supported Java' }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedJavaVersions}}</td>
    </ng-container>

    <ng-container matColumnDef="cycle-supported-jakarta-ee-versions">
      <th mat-header-cell *matHeaderCellDef>{{ productMapping?.columns?.['cycle-supported-jakarta-ee-versions']?.header || 'Supported Jakarta' }}</th>
      <td mat-cell *matCellDef="let cycle">{{cycle.supportedJakartaEEVersions}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnDefs; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnDefs"></tr>
  </mat-table>
  @if (productMapping?.auxTable) {
    <mat-table [dataSource]="productDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="cycle-aux-cycle">
        <th mat-header-cell *matHeaderCellDef>Release</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.cycle}}{{cycle.codename ? ' (' + cycle.codename + ')' : '' }}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-technical-guidance">
        <th mat-header-cell *matHeaderCellDef>Technical Guidance Ends</th>
        <td mat-cell *matCellDef="let cycle" [class]="resolveDateClass(cycle.technicalGuidance)">{{formatTimeAgo(cycle.technicalGuidance, true)}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-upgrade-version">
        <th mat-header-cell *matHeaderCellDef>Upgrade To</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.upgradeVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-angular-versions">
        <th mat-header-cell *matHeaderCellDef>Angular Versions</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.minAngularVersion}} - {{cycle.maxAngularVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-java-versions">
        <th mat-header-cell *matHeaderCellDef>Supported Java</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedJavaVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-php-versions">
        <th mat-header-cell *matHeaderCellDef>PHP Versions</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedPhpVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-drupal-versions">
        <th mat-header-cell *matHeaderCellDef>Drupal Versions</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedDrupalVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-react-versions">
        <th mat-header-cell *matHeaderCellDef>React Versions</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedReactVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-vue-versions">
        <th mat-header-cell *matHeaderCellDef>Vue Versions</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedVueVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-min-java-version">
        <th mat-header-cell *matHeaderCellDef>Minimum Java Version</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.minJavaVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-min-jvm-version">
        <th mat-header-cell *matHeaderCellDef>Min JVM</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.minJvmVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-servlet-version">
        <th mat-header-cell *matHeaderCellDef>Servlet</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.servletVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-jsp-version">
        <th mat-header-cell *matHeaderCellDef>JSP</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.jspVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-ansible-core-version">
        <th mat-header-cell *matHeaderCellDef>ansible-core</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.ansibleCoreVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-python-version">
        <th mat-header-cell *matHeaderCellDef>Python Version</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.pythonVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-spark-version">
        <th mat-header-cell *matHeaderCellDef>Spark Version</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.sparkVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-python-versions-control-node">
        <th mat-header-cell *matHeaderCellDef>Control node Python</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.pythonVersionsControlNode}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-python-versions-managed-node">
        <th mat-header-cell *matHeaderCellDef>Managed node Python</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.pythonVersionsManagedNode}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-supported-jakarta-ee-versions">
        <th mat-header-cell *matHeaderCellDef>Supported Jakarta EE</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.supportedJakartaEEVersions}}</td>
      </ng-container>

      <ng-container matColumnDef="cycle-aux-powershell-versions-managed-node">
        <th mat-header-cell *matHeaderCellDef>Managed node PowerShell</th>
        <td mat-cell *matCellDef="let cycle">{{cycle.powershellVersionsManagedNode}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="auxColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let rows; columns: auxColumns"></tr>
    </mat-table>
  }
</div>
