<mat-toolbar color="primary">
  <div class="app-title-bar">
    <span>Tech Strack</span>
    <span class="spacer"></span>
    <span style="margin-right: 0.6em;">
      <mat-slide-toggle #themeToggle [checked]="!themingService.isDarkTheme" (toggleChange)="themingService.toggleTheme()"></mat-slide-toggle>
    </span>
    <span class="credit"><a href="https://github.com/MBDesu" target="_blank"><mat-icon style="vertical-align:text-bottom;" svgIcon="github"></mat-icon>&nbsp;MBDesu</a></span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="app">
  <mat-sidenav-content class="app-content">
    @if (loading) {
      <mat-spinner></mat-spinner>
    } @else if (products) {
      <div class="app-search-box">
        <app-product-search
          [products]="products"
          [(selectedProducts)]="selectedProducts"
          (productSelected)="addProduct($event)"
          (productRemoved)="removeProduct($event)"
        />
      </div>
    }
    @for (product of selectedProducts; track product) {
      @if (selectedProductData[product]) {
        <app-product-cycles [product]="product" [eolDetails]="selectedProductData[product]" (productRemoved)="removeProduct($event)" />
      }
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
