<div class="grid-app-container">
  <mat-toolbar class="grid-toolbar" color="primary">
    <div class="app-toolbar">
      <span>Tech Strack</span>
      <span class="spacer"></span>
      <span>
        <button mat-icon-button (click)="showHelp()">
          <mat-icon>help</mat-icon>
        </button>
      </span>
      <span>
        <mat-slide-toggle
          #themeToggle
          [checked]="!themingService.isDarkTheme"
          (toggleChange)="themingService.toggleTheme()"
        />
      </span>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav-content #sidenavContent>
      <router-outlet/>
      <app-scroll-to-top [onScroll]="sidenavContent!.elementScrolled()" [el]="sidenavContent"/>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
