$app-content-padding: 1em;

.app {
  padding: $app-content-padding;
}

.app-content {
  height: calc(100vh - var(--mat-toolbar-standard-height) - 2*$app-content-padding);
  width: 100%;
}

@media (max-width: 599px) {
  .app-content {
    height: calc(100vh - var(--mat-toolbar-mobile-height) - 2*$app-content-padding);
    width: 100%;
  }
}

.app-search-box {
  width: 100%;
  max-width: 1000px;
}

.app-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.credit {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}
