<div>
  <mat-form-field class="search-box">
    <mat-label>Search products</mat-label>
    <mat-chip-grid #chipGrid>
      @for (product of selectedProducts; track product) {
        <mat-chip-row (removed)="removeProduct(product)">
          {{ productCycleColumnMapping[product]?.name || product }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      #productSearchInput
      type="text"
      [placeholder]="productCycleColumnMapping[placeholder]?.name ?? placeholder"
      aria-label="Product"
      matInput
      [formControl]="productFormControl"
      (keydown.enter)="selectProduct(productFormControl.value)"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
      (matChipInputTokenEnd)="selectProduct(($event.value || '').trim())"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectProduct(productFormControl.value)">
      @for (product of filteredProducts | async; track product) {
        <mat-option [value]="product">{{ productCycleColumnMapping[product]?.name || product }}</mat-option>
      }
    </mat-autocomplete>
    @if (productFormControl.valid) {
      <button matSuffix mat-icon-button aria-label="Add" (click)="selectProduct(productFormControl.value)">
        <mat-icon>add</mat-icon>
      </button>
    }
    @if (selectedProducts.length > 0) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Copy link"
        matTooltip="Copy a link to this product list"
        [cdkCopyToClipboard]="getLink()"
        (click)="snackbar.open('Link copied to clipboard', 'OK', { duration: 3000 })"
      >
        <mat-icon>share</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
