<mat-accordion multi>
@for (product of selectedProducts; track product) {
  <mat-expansion-panel class="product-expansion">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ productCycleColumnMapping[product]?.name || product }}</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-product-cycles [eolDetails]="selectedProductData[product]" [product]="product"></app-product-cycles>
    </ng-template>
  </mat-expansion-panel>
}
</mat-accordion>
