<h2 mat-dialog-title>Tech Strack</h2>
<mat-dialog-content>
  <p>Tech Strack is an app for tracking the lifecycle of 3rd party dependencies across your software/IT/devops tech stack.</p>
  <app-tip-card>
    You may click/press and hold, then drag a product drawer to rearrange the list.
  </app-tip-card>
  <p>
    Tech Strack was made with ❤️ and ☕️ and 💊 by
    <span class="credit">
      <a href="https://github.com/MBDesu/tech-strack" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
        &nbsp;MBDesu
      </a>
    </span>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" cdkFocusInitial>OK</button>
</mat-dialog-actions>
